nav {
  background-color: #4056A1;
  height: 120px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  position: fixed; 
  top: 0;
  width: 100%; 
}

span {
  margin: 1.5em;
}

#logo {
  font-size: 35px;
}

#write-a-tweet{
  font-family: 'Source Sans Pro', sans-serif;
}
