nav {
  background-color: #4056A1;
  height: 120px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; 
  top: 0;
  width: 100%; 
}

span {
  margin: 1.5em;
}

#write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#down-arrow {
  transform: rotate(90deg);
  color:red;
}
/* style to make not look like a button */
#write-a-tweet{
  padding: 0px;
  margin: 1.5em 1.5em 0em 1.5em;
  border: none;
  background: none;
  color: white;
  outline: none;
}

#logo {
  font-size: 35px;
  font-family: 'Bungee', cursive;
}
 /* sroll to the top button */
#topBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: red; 
  color: white; 
  padding: 15px;
  height: 100px;
  width: 100px;
  border-radius: 50%; 
  font-size: 60px; 
  transform: rotate(-90deg);
}