label {
  margin-top: 1em;
}

/* to hide tweet form */
.new-tweet {
  display: none;
}

.tweet {
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* style button and counter */
.btn-tweet {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
/* changes colour when char limit reached */
.red {
  color: red;
}

/* style for textarea */
#tweet-text {
  resize: none;
  border: none;
  border-bottom: 4px solid #545149;
  background-color: #f4f1ec;
  outline: none;
}

/* tweet button */
#tweetBtn {
 background-color:  #4056A1;
 color: #ffffff;
 border: none;
}

/* error message */
#error {
  display: none;
  margin-top: 1em;
  border:4px dashed red;
  color: red;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
}