section article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5em;
  border: 4px solid #545149;
}

article header, footer {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}

article footer {
  width: 98%;
  height: 50px;
  font-size: 15px;
  border-top: 4px solid #545149;
  margin: auto;
  display: flex;
  align-items: center
}
.media {
  display: flex;
  align-items: flex-start;
  color:  #4056A1;
  font-size: 18px;
  opacity: 0.5;
}

.tweet-content {
  margin: 0.5em;
}

.profile-info {
  display: flex;
  flex-direction: row;
}

.shadow {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.handle {
  display: none;
  color: rgba(0, 0, 255, .2);
}