.tweet-container {
  margin-top: 1.5em;
  border: 4px solid #545149;
}

.tweet-corner {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 1em;
}

.media {
  display: flex;
  align-items: center
}